                                /* html elements */
body{
  background-color: #141E27;
  margin-left: 0;
  margin-right: 0;
}
h1{
  font-family: 'Jim Nightshade', cursive;
  text-align: center;
  color: #5EE6EB;
  font-size: 2rem;
}

p{
  font-family: 'Oswald', cursive;
  position: relative;
  text-align: center;
  width: 50%;
  margin-left: 200px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

h2{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 2em;
  color: #00A8B5;
}

a:hover{
  color: #EAF6F6;
}

                              /* class and divs */

.top-cloud{
  position: relative;
  margin-left: 850px;
}

.open{
  color: #5EE6EB;
  position: relative;
  margin-left: 350px;
}
.bottom-cloud{
  position: relative;
  margin-bottom: 350px;
  margin-left: 250px;
}
.rule{
  color: grey;
  border-style: none;
  border-top: 10px dotted;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 10%;
}

.middle-container{
  background-color: white;
padding-bottom: 50px;
}

.bottom-container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 15%;
  position: relative;
  margin-left: 580px;
}

.intro{
  position: relative;
  margin-left: 350px
}

.skill-image1{
float: left;
  width: 15%;
  margin-left: 30px;
}

.skill-image2{
  float: right;
  width: 15%;
}

.skill-image3{
  float: left;
  width: 15%;
  position: relative;
  margin-left: 30px;
}

.h21{
  position: relative;
  margin-right: 30px;
}

.h3{
  text-align: center;
  font-family: 'Jim Nightshade', cursive;
  color: #8CC0DE;
  position: relative;
  margin-right: 200px;
  font-size: 2rem;
}

.h31{
  text-align: center;
  font-family: 'Jim Nightshade', cursive;
  color: #8CC0DE;
  position: relative;
  margin-right: 200px;
  margin-left: 120px;
  font-size: 2rem;
}

.h32{
  text-align: center;
  font-size: 2rem;
  font-family: 'Jim Nightshade', cursive;
  color: #8CC0DE;
  position: relative;
  margin-right: 200px;
  margin-left: 150px;
}


.skill-row{
  margin: 100px auto 100px auto;
  width: 60%;
  text-align: left;
  line-height: 2;
}

.ep{
  position: relative;
  margin-left: 325px;
  line-height: 2;
}

.btn {
  background: #01080d;
  background-image: -webkit-linear-gradient(top, #01080d, #294a5e);
  background-image: -moz-linear-gradient(top, #01080d, #294a5e);
  background-image: -ms-linear-gradient(top, #01080d, #294a5e);
  background-image: -o-linear-gradient(top, #01080d, #294a5e);
  background-image: linear-gradient(to bottom, #01080d, #294a5e);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  margin-left: 600px;
}

.btn:hover {
  background: #0da0fc;
  background-image: -webkit-linear-gradient(top, #0da0fc, #9cd3f7);
  background-image: -moz-linear-gradient(top, #0da0fc, #9cd3f7);
  background-image: -ms-linear-gradient(top, #0da0fc, #9cd3f7);
  background-image: -o-linear-gradient(top, #0da0fc, #9cd3f7);
  background-image: linear-gradient(to bottom, #0da0fc, #9cd3f7);
  text-decoration: none;
}


.footer-link{
  text-decoration: none;
  position: relative;
  margin-left: 650px;
  color: #5EE6EB;
}

.copyright{
  color: #EAF6F6;
  position: relative;
  margin-top: 50px;
  margin-left: 330px;
  font-size: 0.75rem;
}
